# Django python snippets
snippet char
	${1:var} = models.CharField(max_length=${2:50})
	${3:}
snippet text
	${1:var} = models.TextField(max_length=${2:5000})
	${3:}
snippet datetime
	${1:var} = models.DateTimeField(${2:'name'})
	${3:}
snippet int
	${1:var} = models.IntegerField()
	${2:}
snippet key
	${1:var} = models.ForeignKey(${2:Key})
	${3:}
snippet url
	url(r'^${1:url}', ${2:view}),
	${3:}
