# Django template snippets
snippet %
	{% ${1:template} %}
snippet %block
	{% block ${1:name} %}
	${2:content}
	{% endblock %}
snippet %csrf
	{% csrf_token %}
snippet %for
	{% for ${1:i} in ${2:a} %}
		${3:}
	{% endfor %}
snippet %if
	{% if ${1:i} %}
		${2:}
	{% endif %}
snippet %ifelse
	{% if ${1:i} %}
		${2:}
	{% else %}
		${3:}
	{% endif %}
